.name{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.address{
    text-align: center;
}

.phone-number{
    text-align: center;
}

.email{
    text-align: center;
}

.header{
    background-color: antiquewhite;
}

body{
    background-color: aqua;
}

head {
    font-style: italic;
}

ul {
    font-style: italic;
}

.job{
    font-size: 25px;
}

.date{
    font-size: 20px;
}
